<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://www.4d.com/namespace/reserved/FP/Constants">
   <appid>&quot;0&quot;</appid>
   <fourdversmin>&quot;9.0.0&quot;</fourdversmin>
   <fourdversmax>&quot;9.0.0&quot;</fourdversmax>
   <command name="OD Set SQL in cursor" str="20000" topic="7">
      <param position="3" k="20004"/>
   </command>
   <command name="OD BIND TOWARDS SQL" str="20000" topic="8">
      <param position="4" k="20005"/>
   </command>
   <command name="OD BIND TOWARDS 4D" str="20000" topic="9">
      <param position="4" k="20005"/>
   </command>
   <command name="OD SET NULL VALUE" str="20000" topic="16">
      <param position="1" k="20002"/>
      <param position="3" k="20003"/>
   </command>
   <command name="OD SET ENVIRONMENT VARIABLE" str="20000" topic="21">
      <param position="2" k="20001"/>
      <param position="3" k="20000"/>
   </command>
   <command name="OD Get environment variable" str="20000" topic="22">
      <param position="2" k="20000"/>
   </command>
</application>
